/* remove default margin and padding from body */
/* body{
  padding: 30px;
  margin: 20px;
}  */

/* set map, body, and html to 100% of the screen size */
#map{
  position: absolute;
  top: 40%;
  left:10%;
  width: 80%;
  height: 90%;
}
